
.UserProfilePictureDiv{
     border-radius: 25px;
     align-items: center;
     justify-items: center;
     height: 500px;
     width:  200px;  
     padding: 5%;
}

.profilenamecontainer h3{
     font-family: Roboto;
font-size: 50.134px;
font-style: normal;
font-weight: 600;
     
}

.UserProfilePictureDiv img{  
     height: 100%;   
     width: 100%;   
     border-radius: 100px;
     border: solid 3px white;
  object-fit: cover;
}