.category-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: start;
     width: 80%;
     padding: unset;
     padding-left: 10%;
   }
 
   .category-tile {
     border: 1px solid #ddd;
     border-radius: 50px;
     background-color: #9F94FF;
     margin: 20px;
     padding-bottom: 20px;
     height: 35px;
     width: 135px; 
     text-align: center;
     font-size: 16px;
   }