.hero{
     display: flexbox;
     width: 100vw;
     height: 100%;box-sizing: content-box;
}

.lefthero{          
     position: relative;
     height: 100%;
     background-color: aqua;
}

.lefthero img{
     width: 100%;
     height: 100%;
}


.text_overlay {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 60%;
     padding: 10px;
     color: #fff;
     text-align: left;
     font-family: Roboto;
     font-size: 55px;
     font-style: normal;
     font-weight: 900;
     letter-spacing: 1.1px;
     margin-left: 100px;
     margin-bottom: 100px;
 }
 
.righthero{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
}

.pagetitle{
     color: #FFF;     
     font-family: DM Sans;
     font-size: 25px;
     font-style: normal;
     font-weight: 400;
     margin-top: 3%;
     margin-left: 8%;
}

.formstyle{
     align-items: center;
     align-content: center;
     text-align: center;
     margin-top: 50px;
}

.field_checkbox{
     display: flex;
     flex-direction: row;
     align-content: stretch;
     justify-content: center;
     font-size: 16px;
     font-weight: 400;
     color: #7C7C7C;
     padding: 10px 14px;
     border: none;
     width: 100%;
     flex-wrap: nowrap;
     align-items: center;
}

.field_checkbox label{
     margin-left: 20px;
}

.alreadyuser{
     
     color: #7C7C7C;
     font-family: Roboto;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;
     margin-top: 20px;
}

.privacypolicy{
     color: #7C7C7C;
     font-family: Roboto;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;/* 25.504px */
     letter-spacing: 0.36px;
     margin-top: 50px;
}

.privacypolicy a{
color: #72DB73;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.36px;

}

#conditionsAccepted{
     width: 18px;
     height: 18px;     
}

.righthero form{ 
     margin: 0 auto; 
     width:510px;
     }

     .righthero input{     
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  color: #7C7C7C;
  background: #292929;
  border-radius: 4px;
  padding: 10px 14px;
  border: none;
  margin-top: 20px;
}

.righthero button{
     background-color: #72DB73;
     border-radius: 28px;
     color: #FFF;
     font-family: Roboto;
     font-size: 29px;
     width: 100%;
     height: 55px;
     font-style: normal;
     font-weight: 600;
     margin-top: 40px;
     margin: 100 auto; 
}