.hero{
     display: flex;
     width: 100vw;
     height: 100vh;
     flex-wrap: wrap;
     overflow: hidden;
}


.lefthero{     
     display: flex;
     flex-direction: column;
     height: 100%;
     width: 50%;
}
.lefthero img{
     height: 100%;
     width: 100%;
     object-fit: cover;
}


.leftdivtext{
     color: #FFF;
font-family: Roboto;
font-size: 55px;
font-style: normal;
font-weight: 900; /* 77.928px */
letter-spacing: 1.1px;
}

.righthero{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
}

.pagetitle{
     color: #FFF;     
     font-family: DM Sans;
     font-size: 25px;
     font-style: normal;
     font-weight: 400;
     margin-top: 3%;
     margin-left: 8%;
}

.formstyle{
     align-items: center;
     align-content: center;
     text-align: center;
     margin-top: 50px;
}

.field_checkbox{
     display: flex;
     flex-direction: row;
     align-content: stretch;
     justify-content: center;
     font-size: 16px;
     font-weight: 400;
     color: #7C7C7C;
     padding: 10px 14px;
     border: none;
     width: 100%;
     flex-wrap: nowrap;
     align-items: center;
}

.field_checkbox label{
     margin-left: 20px;
}

.privacypolicy{
     color: #7C7C7C;
     font-family: Roboto;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;/* 25.504px */
     letter-spacing: 0.36px;
     margin-top: 50px;
}

.privacypolicy a{
color: #72DB73;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.36px;

}

#conditionsAccepted{
     width: 18px;
     height: 18px;     
}

.righthero form{ 
     margin: 0 auto; 
     width:510px;
     }

     .righthero input{     
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  color: #7C7C7C;
  background: #292929;
  border-radius: 4px;
  padding: 10px 14px;
  border: none;
  margin-top: 20px;
}

.righthero button{
     background-color: #72DB73;
     border-radius: 28px;
     color: #FFF;
     font-family: Roboto;
     font-size: 29px;
     width: 100%;
     height: 55px;
     font-style: normal;
     font-weight: 600;
     margin-top: 40px;
     margin: 100 auto; 
}