.hero{
     display: flex;
     flex-direction: column;
}

.imagediv{
     position: relative;
     min-height: 55%;
     background-color: aqua;
}

.imagediv img{
     height: 100%;
     object-fit: fill;
}

.text-overlay {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.5); /* This creates the transparent black background color */
     padding: 10px;
     color: #fff; 
     text-align: left;
   }

   .title{
     font-weight: 500;
     font-size: 32px;
     width: 30%;
     word-wrap: break-word;
     margin-left: 3%;
   }
   .timestamp{
     font-weight: 600;
     font-size: 19px;
     margin-left: 3%;
   }

   .descriptiondiv{     
     color: black;
     width: 80%;
     font-size: 19px;
     font-weight: 400;
     margin: 40px;
     text-align: left;
     word-wrap: break-word;
     overflow: hidden;
     box-sizing: content-box;
     max-lines: 3;
   }