
.timestampheader{     
border-radius: 33px  33px 0px 0px;
background-color: #FF4ADE;
margin: 0px;
width:100%;
height: 30%;
font-size: 55px ;
display: flex;
align-content: space-between;
justify-content: space-around;
flex-direction: row;
}

.weatherloghero{     
width:100%;
height: 30%;
font-size: 55px ;
display: flex;
align-content: space-between;
justify-content: space-around;
flex-direction: row;
margin-top: 2%;
}


.weatherlogchild{
     text-align: center;
     font-size: 30px;
     display: flex;
     flex-direction: column;
}

.windcomponent{     
     font-size: 30px;
     display: flex;
     flex-direction: column;
     font-family: Roboto;
     font-size: 20.982px;
     font-style: normal;
     font-weight: 600;
     margin: 1em 2rem;
}


.rainAttributes{
     font-size: 40px;
}

.temperaturecomponent{     
     display: flex;
     flex-direction: column;
     font-family: Roboto;
     font-size: 44.462px;
     font-style: normal;
     font-weight: 600;
     margin: 2rem auto;
}

.pressurecomponent{
     color: #FFF;

     font-family: Roboto;
     font-size: 15.982px;
     font-style: normal;
     font-weight: 400;

}

.humiditycomponent{     
     font-size: 30px;
     display: flex;
     flex-direction: column;
     font-family: Roboto;
     font-size: 20.982px;
     font-style: normal;
     font-weight: 600;
}