.hero{
     display: flex;
     width: 100vw;
     height: 100vh;
}

.errorselection{
     color: #F00;

     font-family: Roboto;
     font-size: 25.14px;
     font-style: normal;
     font-weight: 400;
}

.lefthero{     
     display: flex;
     flex-direction: column;
     background-color: rgb(26, 26, 26);
     height: 100vh;
     width: 50%;
     align-items: center;
}

.lefthero img{
     height: 100%;
     width: 100%;
     object-fit: cover;
}
.righthero{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
}

.logodiv{
     width: 100%;
     margin: 0;
}

.formstyle{
     align-items: center;
     align-content: center;
     text-align: center;
     margin-top: 50px;
}

.choosetext{
     color: #FFF;
font-family: Roboto;
font-size: 68px;
font-style: normal;
font-weight: 700;
margin-left: 100px;
margin-top: 0px;
width: 554px;
height: 316px;
text-align: left;
flex-shrink: 0;
}


.righthero button{
     background-color: #148A08;
     border-radius: 28px;
     color: #FFF;
     font-family: DM Sans;
     font-size: 16.286px;
     width: 200px;
     height: 56px;
     font-style: normal;
     font-weight: 600;
     margin-top: 40px;
     margin: 100 auto; 
}

.genre-grid {
     width: 100%;
     display: grid;
     margin-top: 10%;
     grid-template-columns: repeat(3, 1fr); 
      gap: 50px;
   }
   
   .genre-card {
     position: relative;
     width: 200px;
     height: 201px; /* Adjust the height as needed */
     background-size: cover;
     background-position: center;
     border: 1px solid #ddd; 
     border-radius: 20px;/* Add borders or other styling as needed */
   }
   
   .genre-card input {
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     margin-bottom: 8px;
   }
   
   .genre-card label {
     position: absolute;
     left: 20%;
     top: 10%;
     color: #FFF;
     font-family: DM Sans;
     font-size: 26px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
   }

   .genre-card img{
     width: 80%;
     height: 50%;
     margin-top: 40%;
     border-radius: 10px;
   }

   .selected-category-tile{    
     border: 1px solid #ddd;
     border-radius: 31px;
     background-color: #148A08;
     flex-direction: row;
     margin: 20px;
     padding: 20px;
     height: 35px;
     width: 135px; 
     text-align: center;
     font-size: 16px;
     display: flex;
     align-items: center;
     align-content: space-between;
     justify-content: space-around;
}
.selected-category-tile p{
     margin: 0px;
}

.selected-category-list{     
     display: flex;
     flex-wrap: wrap;
     margin-top: 60px;
     width: 80%;
     padding-left: 1%;
}

.closeicon{
     cursor: pointer;
}